.About {
  padding-bottom: 10px;

  .ProfilePic {
    max-width: 100%;

    @media screen and (min-width: $largeDisplay) {
      float: right;
      max-width: 160px;
      margin-left: 10px;
    }
  }
}

.Contact {
  i {
    visibility: hidden;
    width: 0;
  }
  @media screen and (min-width: $largeDisplay) {
    display: flex;
    > div {
      flex-grow: 1;
    }

    i {
      visibility: visible;
      width: 45px;
    }
  }
}

.Dienstleistungen {
  img {
    max-width: 100%;
  }
  @media screen and (min-width: $largeDisplay) {
    img {
      float: left;
      max-width: 210px;
      margin-right: 10px;
    }
  }
}
