@import url('https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|PT+Sans:400,700,400italic,700italic');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@import 'normalize';

/* https://www.google.com/fonts#UsePlace:use/Collection:Lora:400,700,400italic,700italic|PT+Sans:400,700,400italic,700italic */
@import 'utils';

// -------------------------------------------------------------------------------
// -- Colors
// -------------------------------------------------------------------------------
$whiteColor: white;
$lightBackgroundColor: #ffebd5;
$headerColor: #ffbb70;
$borderAndProgressColor: #ffbb70;
$textColor: #7f5e38;
$textColorDisabled: lighten(#7f5e38, 30%);
$largeDisplay: 1024px;

// -------------------------------------------------------------------------------
// -- Components
// -------------------------------------------------------------------------------
@import 'layout';
@import 'pages';
@import 'blog';
